<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginmodule.mapper.UserMapper">
    <insert id="addUserByNPE" parameterType="String">
        INSERT INTO user(usr_username,usr_password,usr_gender,usr_email)
        VALUES (#{usr_username},#{usr_password},"男",#{usr_email})
    </insert>

    <select id="selectUserByUNAndPW" resultType="loginmodule.bean.User">
        SELECT * FROM user WHERE
                usr_username = #{usr_username}
                AND usr_password = #{usr_password}
    </select>

    <select id="selectUserByUsername" parameterType="String" resultType="loginmodule.bean.User">
        SELECT * FROM user WHERE
                usr_username = #{usr_username}
    </select>

    <select id="selectUserByUNAndState" parameterType="String" resultType="loginmodule.bean.User">
        SELECT * FROM user
        WHERE usr_state = #{usr_state}
        <if test="usr_username!=null">
            AND usr_username = #{usr_username}
        </if>
    </select>

    <update id="updateStaToNormal" parameterType="String">
        UPDATE user SET usr_state = 'normal' WHERE usr_username = #{usr_username}
    </update>

    <update id="updateStaToFrozen" parameterType="String">
        UPDATE user SET usr_state = 'frozen' WHERE usr_username = #{usr_username}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM user WHERE usr_username = #{usr_username}
    </delete>

</mapper>
