<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.mapper.TeacherMapper">
    <!--查询用户 -->
    <select resultType="Teacher" id="getTeacherByUsername" parameterType="string">
		select * from teacher where tch_username = #{tch_username}
	</select>


    <!--修改用户信息-->
    <update id="updateTeacher" parameterType="map">
        update teacher set tch_email = #{tch_email},tch_birthday = #{tch_birthday}
        ,tch_gender = #{tch_gender},tch_phone = #{tch_phone},tch_name = #{tch_name},
        tch_education = #{tch_education},tch_description = #{tch_description}
        where tch_username = #{tch_username}
    </update>

    <!--修改用户密码-->
    <update id="updatePwd" >
        update teacher set tch_password = #{pwd} where tch_username = #{tch_username}
    </update>


    <!--修改用户头像-->
    <update id="updatePhoto" >
        update teacher set tch_portrait = #{tch_portrait} where tch_username = #{tch_username}
    </update>
</mapper>