<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sichuan.umbrella.chenmm.mapper.CourseMapper">
<!--    免费公益课程，再二次分类（口语、写作……）-->
    <select id="selectActivityIsPublic" resultType="sichuan.umbrella.chenmm.bean.Course">
        select * from course where cos_fee=0
        <if test="cos_category != null">
            and cos_category = #{cos_category}
        </if>
    </select>

<!--    名师精品课程（开课老师点赞从多到少），再二次分类（口语、写作……）-->
    <select id="selectActivityIsFamousTeacher" resultType="sichuan.umbrella.chenmm.bean.Course">
        select * from course,course_detail,user_like_teacher
        where cos_id=cdt_cos_id and cdt_tch_username=ult_tch_username
        order by count(*);
    </select>

<!--    热门课程（报名人数从多到少），再二次分类（口语、写作……）-->
    <select id="selectActivityIsCharacteristic" parameterType="int" resultType="sichuan.umbrella.chenmm.bean.Course">
        select * from course where cos_fee>0
    </select>

<!--    按时间从早到晚给课程排序-->
    <select id="selectCourseByTime" parameterType="List" resultType="sichuan.umbrella.chenmm.bean.Course">
        select * from course where order by cos_start_date,cos_start_time
    </select>


<!--    发布课程基本信息-->
    <insert id="insertCourseBasicInfo" parameterType="sichuan.umbrella.chenmm.bean.Course">
        insert into course (cos_title, cos_start_date, cos_end_date, cos_start_time, cos_end_time, cos_stage, cos_fee, cos_category, cos_status)
        values (#{course.cosTitle}, #{course.cosStartDate}, #{course.cosEndDate}, #{course.cosStartTime}, #{course.cosEndTime}, #{course.cosStage}, #{course.cosFee}, #{course.cosCategory}, #{course.cosStatus})
    </insert>

<!--    发布课程详细信息-->
    <insert id="insertCourseDetailInfo" parameterType="sichuan.umbrella.chenmm.bean.CourseDetail">
        insert into course_detail (cdt_cos_id, cdt_tch_username, cdt_grp_id, cdt_portrait, cdt_plan, cdt_pattern, cdt_guide)
        values (#{courseDetail.cdtCosId},#{courseDetail.cdtTchUsername},#{courseDetail.cdtGrpId},#{courseDetail.cdtPortrait},#{courseDetail.cdtPlan},#{courseDetail.cdtPattern},#{courseDetail.cdtGuide})
    </insert>
</mapper>


