<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sichuan.umbrella.chenmm.mapper.CourseDetailMapper">
    <cache/>
    <!--    发布课程详细信息-->
    <insert id="insertCourseDetailInfo" parameterType="sichuan.umbrella.chenmm.bean.CourseDetail">
        insert into course_detail (cdt_cos_id, cdt_tch_username, cdt_grp_id, cdt_portrait, cdt_plan, cdt_pattern, cdt_guide)
        values (#{courseDetail.cdtCosId},#{courseDetail.cdtTchUsername},#{courseDetail.cdtGrpId},#{courseDetail.cdtPortrait},#{courseDetail.cdtPlan},#{courseDetail.cdtPattern},#{courseDetail.cdtGuide})
    </insert>

    <!--    查找课程-课程详细信息-->
    <select id="selectCourseDetailInfo" parameterType="int" resultType="sichuan.umbrella.chenmm.bean.CourseDetail"
            resultMap="CourseDetail">
        select * from course_detail where
        <if test="cdtCosId != null">
            cdt_cos_id = #{cdtCosId}
        </if>
    </select>
    <resultMap id="CourseDetail" type="sichuan.umbrella.chenmm.bean.CourseDetail">
        <id property="cdtCosId" column="cdt_cos_id"/>
        <result property="cdtTchUsername" column="cdt_tch_username"/>
        <result property="cdtGrpId" column="cdt_grp_id"/>
        <result property="cdtPortrait" column="cdt_portrait"/>
        <result property="cdtPlan" column="cdt_plan"/>
        <result property="cdtPattern" column="cdt_pattern"/>
        <result property="cdtGuide" column="cdt_guide"/>
    </resultMap>

    <!--    查找老师点赞数-根据课程详细的Id来查找该课程详细的教师点赞数-->
    <select id="selectCourseDetailLikeNum" parameterType="int" resultType="int">
        select count(*)from course_detail,user_like_teacher
        where cdt_cos_id = #{cdtCosId} and cdt_tch_username = ult_tch_username
    </select>

    <!--    查找教师详细资料-根据课程详细的Id来查找该课程详细对应教师的详细资料-->
    <select id="selectCourseDetailTeacher" parameterType="int" resultType="sichuan.umbrella.chenmm.bean.Teacher"
            resultMap="Teacher">
        select * from course_detail,teacher
        where cdt_cos_id = #{cdtCosId} and cdt_tch_username = tch_username
    </select>
    <resultMap id="Teacher" type="sichuan.umbrella.chenmm.bean.Teacher">
        <id property="tchUsername" column="tch_username"/>
        <result property="tchPassword" column="tch_password"/>
        <result property="tchName" column="tch_name"/>
        <result property="tchGender" column="tch_gender"/>
        <result property="tchEmail" column="tch_email"/>
        <result property="tchPhone" column="tch_phone"/>
        <result property="tchBirthday" column="tch_birthday"/>
        <result property="tchPortrait" column="tch_portrait"/>
    </resultMap>


</mapper>


