<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sichuan.umbrella.chenmm.mapper.UserJoinCourseMapper">

    <insert id="insertUserJoinCourse" parameterType="sichuan.umbrella.chenmm.bean.UserJoinCourse">
        insert into user_join_course
        values (#{userJoinCourse.ujcCosId},#{userJoinCourse.ujcUsrUsername},'未支付')
    </insert>


</mapper>