<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatmodule.mapper.GroupMessageDao">
    <insert id="sendMessage">
        insert into group_message(gms_grp_id, gms_username, gms_content, gms_create_time) values (#{gmsGrpId}, #{gmsUsername}, #{gmsContext},#{gmsCreateTime})
    </insert>

    <delete id="deleteMessage">
        delete from group_message where gms_id = #{gmsId}
    </delete>

    <select id="calculateMessageNum" resultType="int">
        select count(*) from group_message where gms_grp_id=#{grpId}
    </select>

    <select id="selectMessageLimitBy" resultMap="GroupMessage">
        select * from group_message where gms_grp_id = #{grpId}
        order by gms_create_time desc
         limit #{start}, #{end}
    </select>
    <resultMap id="GroupMessage" type="chatmodule.bean.GroupMessage">
        <id property="gmsId" column="gms_id"/>
        <result property="gmsGrpId" column="gms_grp_id"/>
        <result property="gmsUsername" column="gms_username"/>
        <result property="gmsContext" column="gms_content"/>
        <result property="gmsCreateTime" column="gms_create_time"/>
    </resultMap>


</mapper>